<nav>
    <a href="/index">Главная</a> | <a href="/allcatalog"> Каталок </a>|<a href="/catalog">Админка</a> | <a
        href="/reviews">Отзывы</a>
    | <a href="/news"> Новости </a> | <a href="/login">login</a> | <a href="/register">Register</a> | <a href="/react">
        React</a>
</nav>