{{>nav}}
<form method="post">
    <label for="username">login</label>
    <input type="text" name="username">
    <br />
    <label for="password">password</label>
    <input type="text" name="password">
    <button type="submit">Войти</button>
</form>